@tailwind base;
@tailwind components;
@tailwind utilities;


.slideNav,#menu{
    transition: 2s;
}
*{
    font-family: 'Poppins', sans-serif;
    
}
.navbar{
    /* transition: 0.5s; */
    left:0%;
}
