@tailwind base;
@tailwind components;
@tailwind utilities;


.slideNav,#menu{
    transition: 2s;
}
*{
    font-family: 'Poppins', sans-serif;
    
}
.navbar{
    transition: 5s linear;
    left: 100%;
}